In [3]:
import pandas as pd
import numpy as np

In [4]:
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")
df_2020 = pd.read_csv("2020.csv")
df_2021 = pd.read_csv("2021.csv")

df_hdi = pd.read_csv("Human Development Index - Full.csv")

# Rank and Score

In [5]:
# df_2015.head()

In [6]:
# df_2015.columns

In [7]:
df_2015 = df_2015[['Country', 'Happiness Rank', 'Happiness Score', 'Trust (Government Corruption)']]
df_2015.rename(columns={'Trust (Government Corruption)':'Corruption'}, inplace=True)
df_2015.head()

       Country  Happiness Rank  Happiness Score  Corruption
0  Switzerland               1            7.587     0.41978
1      Iceland               2            7.561     0.14145
2      Denmark               3            7.527     0.48357
3       Norway               4            7.522     0.36503
4       Canada               5            7.427     0.32957

In [8]:
# df_2016.columns

In [9]:
df_2016 = df_2016[['Country', 'Happiness Rank', 'Happiness Score', 'Trust (Government Corruption)']]
df_2016.rename(columns={'Trust (Government Corruption)':'Corruption'}, inplace=True)
df_2016.head()

       Country  Happiness Rank  Happiness Score  Corruption
0      Denmark               1            7.526     0.44453
1  Switzerland               2            7.509     0.41203
2      Iceland               3            7.501     0.14975
3       Norway               4            7.498     0.35776
4      Finland               5            7.413     0.41004

In [10]:
# df_2017.columns

In [11]:
df_2017 = df_2017[['Country', 'Happiness.Rank', 'Happiness.Score', 'Trust..Government.Corruption.']]
df_2017.rename(columns={'Happiness.Rank':'Happiness Rank', 'Happiness.Score': 'Happiness Score',
                         'Trust..Government.Corruption.': 'Corruption'}, inplace=True)
df_2017.head()

       Country  Happiness Rank  Happiness Score  Corruption
0       Norway               1            7.537    0.315964
1      Denmark               2            7.522    0.400770
2      Iceland               3            7.504    0.153527
3  Switzerland               4            7.494    0.367007
4      Finland               5            7.469    0.382612

In [12]:
# df_2018.columns

In [13]:
# df_2018.head()

In [14]:
df_2018 = df_2018[['Country or region', 'Overall rank', 'Score', 'Perceptions of corruption']]
df_2018.rename(columns={'Country or region': 'Country', 'Overall rank':'Happiness Rank', 'Score': 'Happiness Score',
                        'Perceptions of corruption': 'Corruption'}, inplace=True)
df_2018.head()

       Country  Happiness Rank  Happiness Score  Corruption
0      Finland               1            7.632       0.393
1       Norway               2            7.594       0.340
2      Denmark               3            7.555       0.408
3      Iceland               4            7.495       0.138
4  Switzerland               5            7.487       0.357

In [15]:
# df_2019.columns

In [16]:
df_2019 = df_2019[['Country or region', 'Overall rank', 'Score', 'Perceptions of corruption']]
df_2019.rename(columns={'Country or region': 'Country', 'Overall rank':'Happiness Rank', 'Score': 'Happiness Score',
                        'Perceptions of corruption':'Corruption'}, inplace=True)
df_2019.head()

       Country  Happiness Rank  Happiness Score  Corruption
0      Finland               1            7.769       0.393
1      Denmark               2            7.600       0.410
2       Norway               3            7.554       0.341
3      Iceland               4            7.494       0.118
4  Netherlands               5            7.488       0.298

In [17]:
# df_2020.columns

In [18]:
# df_2020.head()

In [19]:
df_2020 = df_2020[['Country name', 'Ladder score','Perceptions of corruption']]
df_2020.rename(columns={'Country name': 'Country', 'Ladder score': 'Happiness Score',
                        'Perceptions of corruption':'Corruption'}, inplace=True)
df_2020.head()

       Country  Happiness Score  Corruption
0      Finland           7.8087    0.195445
1      Denmark           7.6456    0.168489
2  Switzerland           7.5599    0.303728
3      Iceland           7.5045    0.711710
4       Norway           7.4880    0.263218

In [20]:
df_2020['Happiness Rank'] = df_2020['Happiness Score'].rank(ascending=False).astype(int)
df_2020.head()

       Country  Happiness Score  Corruption  Happiness Rank
0      Finland           7.8087    0.195445               1
1      Denmark           7.6456    0.168489               2
2  Switzerland           7.5599    0.303728               3
3      Iceland           7.5045    0.711710               4
4       Norway           7.4880    0.263218               5

In [21]:
# df_2021.columns

In [22]:
# df_2021.head()

In [23]:
df_2021 = df_2021[['Country name', 'Ladder score','Perceptions of corruption']]
df_2021.rename(columns={'Country name': 'Country', 'Ladder score': 'Happiness Score',
                        'Perceptions of corruption': 'Corruption'}, inplace=True)
df_2021.head()

       Country  Happiness Score  Corruption
0      Finland            7.842       0.186
1      Denmark            7.620       0.179
2  Switzerland            7.571       0.292
3      Iceland            7.554       0.673
4  Netherlands            7.464       0.338

In [24]:
df_2021['Happiness Rank'] = df_2021['Happiness Score'].rank(ascending=False).astype(int)
df_2021.head()

       Country  Happiness Score  Corruption  Happiness Rank
0      Finland            7.842       0.186               1
1      Denmark            7.620       0.179               2
2  Switzerland            7.571       0.292               3
3      Iceland            7.554       0.673               4
4  Netherlands            7.464       0.338               5

In [25]:
df_2015.isnull().sum()

Country            0
Happiness Rank     0
Happiness Score    0
Corruption         0
dtype: int64

In [26]:
df_2016.isnull().sum()

Country            0
Happiness Rank     0
Happiness Score    0
Corruption         0
dtype: int64

In [27]:
df_2017.isnull().sum()

Country            0
Happiness Rank     0
Happiness Score    0
Corruption         0
dtype: int64

In [28]:
df_2018.isnull().sum()

Country            0
Happiness Rank     0
Happiness Score    0
Corruption         1
dtype: int64

In [29]:
df_2019.isnull().sum()

Country            0
Happiness Rank     0
Happiness Score    0
Corruption         0
dtype: int64

In [30]:
df_2020.isnull().sum()

Country            0
Happiness Score    0
Corruption         0
Happiness Rank     0
dtype: int64

In [31]:
df_2021.isnull().sum()

Country            0
Happiness Score    0
Corruption         0
Happiness Rank     0
dtype: int64

# Human Development Index (HDI)

In [32]:
df_hdi.head()

,ISO3,Country,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),...,Material footprint per capita (tonnes) (2012),Material footprint per capita (tonnes) (2013),Material footprint per capita (tonnes) (2014),Material footprint per capita (tonnes) (2015),Material footprint per capita (tonnes) (2016),Material footprint per capita (tonnes) (2017),Material footprint per capita (tonnes) (2018),Material footprint per capita (tonnes) (2019),Material footprint per capita (tonnes) (2020),Material footprint per capita (tonnes) (2021)
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95

In [33]:
df_hdi.shape

(195, 880)

In [34]:
df_hdi.columns

Index(['ISO3', 'Country', 'Human Development Groups',
       'UNDP Developing Regions', 'HDI Rank (2021)',
       'Human Development Index (1990)', 'Human Development Index (1991)',
       'Human Development Index (1992)', 'Human Development Index (1993)',
       'Human Development Index (1994)',
       ...
       'Material footprint per capita (tonnes) (2012)',
       'Material footprint per capita (tonnes) (2013)',
       'Material footprint per capita (tonnes) (2014)',
       'Material footprint per capita (tonnes) (2015)',
       'Material footprint per capita (tonnes) (2016)',
       'Material footprint per capita (tonnes) (2017)',
       'Material footprint per capita (tonnes) (2018)',
       'Material footprint per capita (tonnes) (2019)',
       'Material footprint per capita (tonnes) (2020)',
       'Material footprint per capita (tonnes) (2021)'],
      dtype='object', length=880)

## hdi 15

In [35]:
# select colummns

# hdi_columns_15 = ['Country', 'Human Development Groups','HDI Rank (2021)',
#                'Human Development Index (2015)',
#                 'Life Expectancy at Birth (2015)',
#                 'Expected Years of Schooling (2015)',
#                 'Mean Years of Schooling (2015)',
#                 'Gross National Income Per Capita (2015)', 
#                 'Gender Development Index (2015)',
#                 'Coefficient of human inequality (2015)',
#                 'Inequality in life expectancy (2015)',
#                 'Inequality in eduation (2015)',
#                 'Inequality in income (2015)',
#                 'Gender Inequality Index (2015)',
#                 'Maternal Mortality Ratio (deaths per 100,000 live births) (2015)',
#                 'Material footprint per capita (tonnes) (2015)', 
#                 'Carbon dioxide emissions per capita (production) (tonnes) (2015)', 
#                 ]

In [36]:

# df_hdi_2015 = df_hdi[hdi_columns_15]
# df_hdi_2015.rename(columns={
#     'Human Development Index (2015)': 'Human Development Index',
#     'Life Expectancy at Birth (2015)': 'Life Expectancy at Birth',
#     'Expected Years of Schooling (2015)': 'Expected Years of Schooling',
#     'Mean Years of Schooling (2015)': 'Mean Years of Schooling',
#     'Gross National Income Per Capita (2015)': 'Gross National Income Per Capita', 
#     'Gender Development Index (2015)': 'Gender Development Index',
#     'Coefficient of human inequality (2015)': 'Coefficient of human inequality',
#     'Inequality in life expectancy (2015)': 'Inequality in life expectancy',
#     'Inequality in eduation (2015)': 'Inequality in eduation',
#     'Inequality in income (2015)': 'Inequality in income',
#     'Gender Inequality Index (2015)': 'Gender Inequality Index',
#     'Maternal Mortality Ratio (deaths per 100,000 live births) (2015)': 'Maternal Mortality Ratio (deaths per 100,000 live births)',
#     'Material footprint per capita (tonnes) (2015)': 'Material footprint per capita (tonnes)', 
#     'Carbon dioxide emissions per capita (production) (tonnes) (2015)': 'Carbon dioxide emissions per capita (production) (tonnes)'
#     },
#                    inplace=True
# )
# df_hdi_2015.head()

In [37]:

# df_15 = pd.merge(df_2015, df_hdi_2015, on="Country", how = "inner")
# df_15.head()

In [38]:

# df_15['Year'] = 2015
# df_15.head()

# extract_and_merge function

In [39]:

def extract_and_merge(year):
    
    variables = {
    2015: df_2015,
    2016: df_2016,
    2017: df_2017,
    2018: df_2018,
    2019: df_2019,
    2020: df_2020,
    2021: df_2021
    }
    
    common_columns = ['Country', 'Human Development Groups', 'HDI Rank (2021)']

    hdi_columns = [
        'Human Development Index ({})'.format(year),
        'Life Expectancy at Birth ({})'.format(year),
        'Expected Years of Schooling ({})'.format(year),
        'Mean Years of Schooling ({})'.format(year),
        'Gross National Income Per Capita ({})'.format(year),
        'Gender Development Index ({})'.format(year),
        'Coefficient of human inequality ({})'.format(year),
        'Inequality in life expectancy ({})'.format(year),
        'Inequality in eduation ({})'.format(year),
        'Inequality in income ({})'.format(year),
        'Gender Inequality Index ({})'.format(year),
        'Maternal Mortality Ratio (deaths per 100,000 live births) ({})'.format(year),
        'Material footprint per capita (tonnes) ({})'.format(year),
        'Carbon dioxide emissions per capita (production) (tonnes) ({})'.format(year)
    ]
    
    rename_map= {
    'Human Development Index ({})'.format(year): 'Human Development Index',
    'Life Expectancy at Birth ({})'.format(year): 'Life Expectancy at Birth',
    'Expected Years of Schooling ({})'.format(year): 'Expected Years of Schooling',
    'Mean Years of Schooling ({})'.format(year): 'Mean Years of Schooling',
    'Gross National Income Per Capita ({})'.format(year): 'Gross National Income Per Capita', 
    'Gender Development Index ({})'.format(year): 'Gender Development Index',
    'Coefficient of human inequality ({})'.format(year): 'Coefficient of human inequality',
    'Inequality in life expectancy ({})'.format(year): 'Inequality in life expectancy',
    'Inequality in eduation ({})'.format(year): 'Inequality in eduation',
    'Inequality in income ({})'.format(year): 'Inequality in income',
    'Gender Inequality Index ({})'.format(year): 'Gender Inequality Index',
    'Maternal Mortality Ratio (deaths per 100,000 live births) ({})'.format(year): 'Maternal Mortality Ratio (deaths per 100,000 live births)',
    'Material footprint per capita (tonnes) ({})'.format(year): 'Material footprint per capita (tonnes)', 
    'Carbon dioxide emissions per capita (production) (tonnes) ({})'.format(year): 'Carbon dioxide emissions per capita (production) (tonnes)'
    }
    
    hdi_columns_extracted = common_columns + hdi_columns
    df_year = df_hdi[hdi_columns_extracted].copy()
    
    df_year.rename(columns=rename_map, inplace=True)

    df_merge = pd.merge(variables.get(year), df_year, on='Country', how='inner')
    df_merge['Year'] = year
    
    return df_merge

In [40]:
df_15 = extract_and_merge(2015)

In [41]:
df_16 = extract_and_merge(2016)

In [42]:
df_17 = extract_and_merge(2017)

In [43]:
df_18 = extract_and_merge(2018)

In [44]:
df_19 = extract_and_merge(2019)

In [45]:
df_20 = extract_and_merge(2020)

In [46]:
df_21 = extract_and_merge(2021)

In [47]:
df_15.head()

,Country,Happiness Rank,Happiness Score,Corruption,Human Development Groups,HDI Rank (2021),Human Development Index,Life Expectancy at Birth,Expected Years of Schooling,Mean Years of Schooling,...,Gender Development Index,Coefficient of human inequality,Inequality in life expectancy,Inequality in eduation,Inequality in income,Gender Inequality Index,"Maternal Mortality Ratio (deaths per 100,000 live births)",Material footprint per capita (tonnes),Carbon dioxide emissions per capita (production) (tonnes),Year
0,Switzerland,1,7.587,0.41978,Very High,1.0,0.954,82.8468,16.194010,13.711880,...,0.970,6.080309,3.678839,2.366899,12.19519,0.039,5.0,33.83,4.668199,2015
1,Iceland,2,7.561,0.14145,Very High,3.0,0.945,82.3508,19.347700,13.184354,...,0.974,5.621693,2.638380,2.554160,11.67254,0.063,4.0,74.87,10.707873,2015
2,Denmark,3,7.527,0.48357,Very High,6.0,0.936,80.7380,19.237009,12.638320,...,0.978,6.731853,3.599750,4.332840,12.26297,0.035,4.0,24.70,6.188361,2015
3,Norway,4,7.522,0.36503,Very High,2.0,0.953,82.2718,17.783890,12.771210,...,0.993,6.363238,2.842695,5.262840,10.98418,0.040,3.0,36.13,8.772584,2015
4,Canada,5,7.427,0.32957,Very High,15.0,0.926,81.9246,15.891400,13.698088,...,0.984,8.284095,4.404285,2.696000,17.75200,0.103,11.0,34.42,15.906585,2015

In [48]:
df_19.head()

,Country,Happiness Rank,Happiness Score,Corruption,Human Development Groups,HDI Rank (2021),Human Development Index,Life Expectancy at Birth,Expected Years of Schooling,Mean Years of Schooling,...,Gender Development Index,Coefficient of human inequality,Inequality in life expectancy,Inequality in eduation,Inequality in income,Gender Inequality Index,"Maternal Mortality Ratio (deaths per 100,000 live births)",Material footprint per capita (tonnes),Carbon dioxide emissions per capita (production) (tonnes),Year
0,Finland,1,7.769,0.393,Very High,11.0,0.939,81.8706,19.051929,12.87362,...,0.989,5.196900,3.013649,2.23918,10.33787,0.031,3.0,36.73,7.690672,2019
1,Denmark,2,7.600,0.410,Very High,6.0,0.946,81.4337,18.714800,12.91060,...,0.981,5.654176,3.171469,2.90482,10.88624,0.016,4.0,25.86,5.353078,2019
2,Norway,3,7.554,0.341,Very High,2.0,0.961,82.9552,18.185200,13.00363,...,0.990,5.530067,2.720520,2.33240,11.53728,0.016,2.0,38.82,7.969165,2019
3,Iceland,4,7.494,0.118,Very High,3.0,0.960,82.4042,19.163059,13.72736,...,0.980,4.646738,2.225375,2.20077,9.51407,0.051,4.0,59.61,10.473084,2019
4,Netherlands,5,7.488,0.298,Very High,10.0,0.943,82.0455,18.693165,12.45232,...,0.965,6.881701,3.487623,5.36710,11.79038,0.028,5.0,32.26,8.983964,2019

In [49]:
def save(df, year):
    df.to_csv('output/{}.csv'.format(year), index=False)

In [50]:
save(df_15, 15)
save(df_16, 16)
save(df_17, 17)
save(df_18, 18)
save(df_19, 19)
save(df_20, 20)
save(df_21, 21)

In [51]:
combined_df = pd.concat([df_15, df_16, df_17, df_18, df_19, df_20, df_21], axis=0)

In [52]:
df_15.shape, df_16.shape, df_17.shape, df_18.shape, df_19.shape, df_20.shape, df_21.shape

((144, 21), (143, 21), (143, 21), (143, 21), (143, 21), (140, 21), (138, 21))

In [53]:
combined_df.shape

(994, 21)

In [54]:
save(combined_df, 'combined')

In [55]:
combined_df.isnull().sum()

Country                                                       0
Happiness Rank                                                0
Happiness Score                                               0
Corruption                                                    1
Human Development Groups                                      4
HDI Rank (2021)                                               4
Human Development Index                                       4
Life Expectancy at Birth                                      0
Expected Years of Schooling                                   4
Mean Years of Schooling                                       4
Gross National Income Per Capita                              0
Gender Development Index                                      5
Coefficient of human inequality                              99
Inequality in life expectancy                                 0
Inequality in eduation                                       21
Inequality in income                                         93
Gender Inequality Index                                      14
Maternal Mortality Ratio (deaths per 100,000 live births)     4
Material footprint per capita (tonnes)                       37
Carbon dioxide emissions per capita (production) (tonnes)     0
Year                                                          0
dtype: int64

In [60]:
df_1 = combined_df.drop(
    ['Coefficient of human inequality',
     'Inequality in income',
     'Material footprint per capita (tonnes)',
     ], axis=1)

In [66]:
df_1.isnull().sum()

Country                                                      0
Happiness Rank                                               0
Happiness Score                                              0
Corruption                                                   0
Human Development Groups                                     0
HDI Rank (2021)                                              0
Human Development Index                                      0
Life Expectancy at Birth                                     0
Expected Years of Schooling                                  0
Mean Years of Schooling                                      0
Gross National Income Per Capita                             0
Gender Development Index                                     0
Inequality in life expectancy                                0
Inequality in eduation                                       0
Gender Inequality Index                                      0
Maternal Mortality Ratio (deaths per 100,000 live births)    0
Carbon dioxide emissions per capita (production) (tonnes)    0
Year                                                         0
dtype: int64

In [65]:
df_1.dropna(inplace=True)

In [67]:
df_1.shape

(963, 18)

In [68]:
save(df_1, 'combined')